<html>
<head>
    <title><%= title%></title>
    <% include templates/link.ejs%>
    <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
</head>
<body>
<% include templates/nav.ejs%>
<div class="jumbotron" style="background:url(../images/cake.jpg) cover">


    <div class="menu">


    </div>




</div>
<% include templates/menu.ejs%>
<div class="container">
    <div class="row newspaper">
        <div class="col-md-6">
            <img src="images/abl.jpeg">

        </div>
        <br>
        <div class="col-md-6">
            <hr >
            <h2>Apple Blueberry Loaf</h2>
            <hr>
            <p>This loaf has layers of apples and blueberries baked through, making each slice look as good as it tastes. We top it off with an apricot glaze to add an extra bit of sweetness. Delicious!  Available by the slice at all bakeries, on selected days, or to order now as a whole loaf.</p>
            <br><br><br>
            <button style="font-size: 20px;" class="add">Add to cart</button>
        </div>

    </div>

</div>
<br>
<% include templates/jlink.ejs%>
<% include templates/aol.ejs%>
</body>
</html>