<html>
<head>
    <title><%= title%></title>
    <% include templates/link.ejs%>
    <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
</head>
<body>
<% include templates/nav.ejs%>
<div class="jumbotron" style="background:url(../images/cake.jpg) cover">


    <div class="menu">


    </div>




</div>
<% include templates/menu.ejs%>
<div class="container">
    <div class="row newspaper">
        <div class="col-md-6">
            <img src="images/acs.jpeg">

        </div>
        <br>
        <div class="col-md-6">
            <hr >
            <h2>Apple Crumble Slice</h2>
            <hr>
            <p>A classic dessert in many households, this slice has a spiced apple filling and a crumble topping, making each slice look as good as it tastes. Available by the slice at both bakeries, on selected days, or to order as a whole tray now.
            </p>
            <br><br><br>
            <button style="font-size: 20px;" class="add">Add to cart</button>
        </div>

    </div>

</div>
<br>
<% include templates/jlink.ejs%>
<% include templates/aol.ejs%>
</body>
</html>