<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <% include templates/link.ejs%>
</head>
<body>
<% include templates/nav.ejs %>
<div class="jumbotron" style="background:url(../images/cake.jpg) cover">


    <div class="menu">


    </div>




</div>
<% include templates/menu.ejs%>
<div class="prod">
    <h1>Celebration Cakes</h1>
</div>
<br>

<div class="container">

    <div class="row row3">
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/confetticc" >
                    <img src="images/confetticc.jpeg" >

                    <h4>Confetti Celebration Cake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/cookiedoughcc" >
                    <img src="images/cookiedoughcc.jpeg" >

                    <h4>Cookie Dough Celebration Cake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/smorecc" >
                    <img src="images/smorescc.jpeg" >

                    <h4>Smore's Celebration Cake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/strawberrycc" >
                    <img src="images/strawcc.jpeg" >

                    <h4>Strawberry Celebration Cake </h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
    </div>

    <div class="row row3">
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/stripeycc" >
                    <img src="images/stripeycc.jpeg" >

                    <h4>Stripey Celebration Cake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/vegancc" >
                    <img src="images/vegancc.jpeg" >

                    <h4>Vegan Chocolate Celebration Cake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/kinderbuenocc" >
                    <img src="images/kinderbuenocc.jpeg" >

                    <h4>Kinder Bueno Celebration Cake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/redvelvetc" >
                    <img src="images/redvelvetcc.jpeg" >

                    <h4>Natural Red Velvet Celebration Cake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
    </div>





</div>
<% include templates/jlink.ejs %>
</body>
</html>