<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<% include templates/link.ejs%>
	<link rel="stylesheet" type="text/css" href="stylesheets/product.css">

</head>
<body>
	 <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
 
    <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/chococupcake.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr>
                    <h2>Chocolate Cupcake</h2>
                    <hr>
                    <p>This rich and moist dark chocolate sponge with a silky chocolate buttercream is one of our best sellers. They come decorated with a selection of sprinkles or flowers. This flavour is very popular all year round, and is available in our stores every day.</p><br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
     <% include templates/aol.ejs%>
    </body>
</html>
</body>
</html>