<html>
<head>
    <title><%= title%></title>
    <% include templates/link.ejs%>
    <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
</head>
<body>
<% include templates/nav.ejs%>
<div class="jumbotron" style="background:url(../images/cake.jpg) cover">


    <div class="menu">


    </div>




</div>
<% include templates/menu.ejs%>
<div class="container">
    <div class="row newspaper">
        <div class="col-md-6">
            <img src="images/chocopen.jpeg">

        </div>
        <br>
        <div class="col-md-6">
            <hr >
            <h2>Chocolate Peanut Butter Pie</h2>
            <hr>
            <p>The irresistable combination of chocolate, Oreos and peanut butter! A crushed Oreo base with a rich 70% dark chocolate filling and finished with a peanut butter cream topping.
                This pie serves approximately 8-10 portions.</p>
            <br><br><br>
            <button style="font-size: 20px;" class="add">Add to cart</button>
        </div>

    </div>

</div>
<br>
<% include templates/jlink.ejs%>
<% include templates/aol.ejs%>
</body>
</html>