        <!DOCTYPE html>
        <html>
        <head>
        	<title><%= title%></title>
        	<% include templates/link.ejs%>
        	<link rel="stylesheet" type="text/css" href="stylesheets/product.css">

        </head>
        <body>
        	 <% include templates/nav.ejs%>
                <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


                    <div class="menu">


                    </div>




                </div>
                <% include templates/menu.ejs%>
         
            <div class="container">
                    <div class="row newspaper">
                        <div class="col-md-6">
                            <img src="images/coconutlc.jpeg">

                        </div>
                        <br>
                        <div class="col-md-6">
                            <hr>
                            <h2>Coconut Layer Cake</h2>
                            <hr>
                            <p>This is a beautiful classic cake, perfect for an afternoon treat. A single layer moist coconut sponge covered with a pale pink vanilla icing and finished with toasted descicated coconut.


        </p><br><br><br>
                            <button style="font-size: 20px;" class="add">Add to cart</button>
                        </div>

                    </div>

                </div>
                <br>
                <% include templates/jlink.ejs%>
             <% include templates/aol.ejs%>
            </body>
        </html>
        </body>
        </html>