    <!DOCTYPE html>
    <html>
    <head>
    	<title><%= title%></title>
    	<% include templates/link.ejs%>
    	<link rel="stylesheet" type="text/css" href="stylesheets/product.css">

    </head>
    <body>
    	 <% include templates/nav.ejs%>
            <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


                <div class="menu">


                </div>




            </div>
            <% include templates/menu.ejs%>
     
        <div class="container">
                <div class="row newspaper">
                    <div class="col-md-6">
                        <img src="images/cookiedoughcc.jpeg">

                    </div>
                    <br>
                    <div class="col-md-6">
                        <hr>
                        <h2>Cookie Dough Cake</h2>
                        <hr>
                        <p>The layer cake version of our popular special - Cookie Dough. Two layers of brown sugar sponge with balls of cookie dough baked into the sponge. We ice this cake with our cookie dough chocolate chip butter cream, and top with melted dark chocolate. We finish the cake off with balls of cookie dough on top. To make it extra special, a personalised message and  additional sugar decorations can be added to the cake.Available to order in store and online all year round. 


    </p><br><br><br>
                        <button style="font-size: 20px;" class="add">Add to cart</button>
                    </div>

                </div>

            </div>
            <br>
            <% include templates/jlink.ejs%>
         <% include templates/aol.ejs%>
        </body>
    </html>
    </body>
    </html>