<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
    </head>
    <body>
        <% include templates/nav.ejs %>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="prod">
            <h1>Layered Cakes</h1>
        </div>
        <br>

        <div class="container">

            <div class="row row3">
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/chocolc" >
                            <img src="images/clc.jpeg" >

                                <h4>Chocolate Layered Cake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/coconutlc" >
                            <img src="images/coconutlc.jpeg" >

                            <h4>Coconut Layered Cake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/plumlc" >
                            <img src="images/plumlc.jpeg" >

                            <h4>Plum Chocolate Layered Cake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="saltedcaramelc" >
                            <img src="images/saltedcaramellc.jpeg" >

                            <h4>Salted Caramel Layered Cake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
            </div>

            <div class="row row3">
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/smorelc" >
                            <img src="images/smoreslc.jpeg" >

                            <h4>Smore's Layered Cake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/snickerlc" >
                            <img src="images/snickerslc.jpeg" >

                            <h4>Snickers Layered Cake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/stripeylc" >
                            <img src="images/stripeylc.jpeg" >

                            <h4>Stripey Layered Cake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/victorialc" >
                            <img src="images/victorialc.jpeg" >

                            <h4>Traditional Victoria Layered Cake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
            </div>





        </div>
        <% include templates/jlink.ejs %>
    </body>
</html>