<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <% include templates/link.ejs%>
</head>
<body>
<% include templates/nav.ejs %>
<div class="jumbotron" style="background:url(../images/cake.jpg) cover">


    <div class="menu">


    </div>




</div>
<% include templates/menu.ejs%>
<div class="prod">
    <h1><%= title%></h1>
</div>
<br>

<div class="container">

    <div class="row row3">
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/abl" >
                    <img src="images/abl.jpeg" >

                    <h4>Apple Loaf</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/acs" >
                    <img src="images/acs.jpeg" >

                    <h4>Apple Crumble Slice</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/chocobrownie" >
                    <img src="images/chocobrownie.jpeg" >

                    <h4>Chocolate Brownies</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/cookiedoughtruffle" >
                    <img src="images/cookiedoughtruffle.jpeg" >

                    <h4>Cookie Truffle</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
    </div>

    <div class="row row3">
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/kindercookie" >
                    <img src="images/kindercookie.jpeg" >

                    <h4>Kinder Cookies</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/meltingmoment" >
                    <img src="images/meltingmoment.jpeg" >

                    <h4>Melting Moments</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/nutellacookie" >
                    <img src="images/nutellacookie.jpeg" >

                    <h4>Nutella Cookies</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/rockyroad" >
                    <img src="images/rockyroad.jpeg" >

                    <h4>Rocky Road</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
    </div>





</div>
<% include templates/jlink.ejs %>
</body>
</html>