<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<% include templates/link.ejs%>
	<link rel="stylesheet" type="text/css" href="stylesheets/product.css">

</head>
<body>
	 <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
 
    <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/miniredvelvet.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr>
                    <h2>Mini Red Velvet Cupcake</h2>
                    <hr>
                    <p>A chocolate sponge, coloured naturally with beetroot and a limited amount of red food colouring, topped off with a delicious cream cheese icing. This flavour is very popular all year round, and is available in our bakeries every day or to order online now.</p><br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
     <% include templates/aol.ejs%>
    </body>
</html>
</body>
</html>