<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<% include templates/link.ejs%>
	<link rel="stylesheet" type="text/css" href="stylesheets/product.css">

</head>
<body>
	 <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
 
    <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/minivanilla.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr>
                    <h2>Mini Vanilla Cupcake</h2>
                    <hr>
                    <p>One of our most popular flavours amongst all ages. Our light and fluffy vanilla sponge with a creamy vanilla buttercream that comes in beautiful pastel colours; pink, lilac, green and yellow. And decorated with sprinkles or a sugar flower. This flavour is available in our stores every day.

</p><br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
     <% include templates/aol.ejs%>
    </body>
</html>
</body>
</html>