<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <% include templates/link.ejs%>
</head>
<body>
<% include templates/nav.ejs %>
<div class="jumbotron" style="background:url(../images/cake.jpg) cover">


    <div class="menu">


    </div>




</div>
<% include templates/menu.ejs%>
<div class="prod">
    <h1>Mini Cupcakes</h1>
</div>
<br>

<div class="container">

    <div class="row row3">
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/minichoco" >
                    <img src="images/minichoco.jpeg" >

                    <h4>Mini Chocolate Cupcake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/minivanilla">
                    <img src="images/minivanilla.jpeg" >

                    <h4>Mini Vanilla Cupcake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/minicarrot" >
                    <img src="images/minicarrot.jpeg" >

                    <h4>Mini Carrot Chocolate Cupcake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/miniredvelvet" >
                    <img src="images/miniredvelvet.jpeg" >

                    <h4>Mini Red Velvet Cupcake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
    </div>

    <div class="row row3">
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/minicaramel" >
                    <img src="images/minicaramel.jpeg" >

                    <h4>Mini Salted Caramel Cupcake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/minichocomarsh" >
                    <img src="images/minimarshmallow.jpeg" >

                    <h4>Mini Marshmallow Cupcake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/minilemon" >
                    <img src="images/minilemon.jpeg" >

                    <h4>Mini Lemon Cupcake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
        <div class="col-md-3 parent" style="background-color: none;">
            <div class="thumbnail">
                <a href="/minimocha" >
                    <img src="images/minimocha.jpeg" >

                    <h4>Mini Mocha Cupcake</h4>
                </a>
                <% include templates/atc.ejs%>

            </div>
        </div>
    </div>





</div>
<% include templates/jlink.ejs %>
</body>
</html>