<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<% include templates/link.ejs%>
	<link rel="stylesheet" type="text/css" href="stylesheets/product.css">

</head>
<body>
	 <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
 
    <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/minimarshmallow.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr>
                    <h2>Mini Chocolate Marshmallow Cupcake</h2>
                    <hr>
                    <p>One of our favourite specials. These chocolate cupcakes are iced with a light pink fluffy marshmallow icing and topped off with a marshmallow and dusting of glitter. This special is available to order all year round, in stores at selected times or to order online now.</p><br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
     <% include templates/aol.ejs%>
    </body>
</html>
</body>
</html>