<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<% include templates/link.ejs%>
	<link rel="stylesheet" type="text/css" href="stylesheets/product.css">

</head>
<body>
	 <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
 
    <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/minicarrot.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr>
                    <h2>Mini Carrot Cupcake</h2>
                    <hr>
                    <p>With hints of cinnamon and nutmeg, our carrot cupcake has a mosit spiced carrot sponge with a delicious orange cream cheese buttercream, decorated with a sugar carrot. This flavour is popular with all ages. Please note our carrot cupcakes do not contain nuts, but they do contain raisins. This flavour is available to order all year round, or in stores at selected times.
</p><br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
     <% include templates/aol.ejs%>
    </body>
</html>
</body>
</html>