<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
        <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
    </head>
    <body>
        <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/plumlc.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr >
                    <h2>Plum cakes</h2>
                    <hr>
                    <p>Plum cake refers to a wide range of cakes made with either dried fruit or with fresh fruit. There is a wide range of popular plum cakes and puddings</p>
                    <br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
        <% include templates/aol.ejs%>
    </body>
</html>