<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
    </head>
    <body>
        <% include templates/nav.ejs %>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="prod">
            <h1>Regular Cupcakes</h1>
        </div>
        <br>

        <div class="container">

            <div class="row row3">
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/keylime" >
                            <img src="images/keylime.jpeg" >

                                <h4>Key Lime Cupcake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/sugarart" >
                            <img src="images/sugarart.jpeg" >

                            <h4>Sugar Art Cupcake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/carrc" >
                            <img src="images/carrotcupcake.jpeg" >

                            <h4>Carrot Cupcake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/chococup" >
                            <img src="images/chococupcake.jpeg" >

                            <h4>Chocolate Cupcake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
            </div>

            <div class="row row3">
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/chocovanillac" >
                            <img src="images/chocovanillacupcake.jpeg" >

                            <h4>Vanilla Cupcake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/redvelvet" >
                            <img src="images/redvelvetcupcake.jpeg" >

                            <h4>Red Velvet Cupcake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/saltedcaramel" >
                            <img src="images/saltedcaramelcupcake.jpeg" >

                            <h4>Caramel Cupcake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
                <div class="col-md-3 parent" style="background-color: none;">
                    <div class="thumbnail">
                        <a href="/vegancupcake" >
                            <img src="images/vegancupcake.jpeg" >

                            <h4>Vegan Cupcake</h4>
                        </a>
                        <% include templates/atc.ejs%>

                    </div>
                </div>
            </div>





        </div>
        <% include templates/jlink.ejs %>
    </body>
</html>