<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<% include templates/link.ejs%>
	<link rel="stylesheet" type="text/css" href="stylesheets/product.css">

</head>
<body>
	 <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
 
    <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/saltedcaramelcupcake.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr>
                    <h2>Salted Caramel Cupcake</h2>
                    <hr>
                    <p>One of the bakeries most popular flavours, this cupcake has a light vanilla sponge, with a hidden caramel chocolate centre. We top these off with Salted caramel icing, crushed caramel sweets and a pinch of fleur de sel. The perfect balance of salty and sweet. This special is available to order all year round, in stores on selected days or to order online now.n</p><br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
     <% include templates/aol.ejs%>
    </body>
</html>
</body>
</html>