<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
        <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
    </head>
    <body>
        <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/snickerslc.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr >
                    <h2>Snickers Layers Cake</h2>
                    <hr>
                    <p>This delicious Snickers inspired cake has 2 layers of dark chocolate sponge sandwiched and topped with peanut butter caramel and a smooth nougat icing. It is then finished with chunks of Snickers chocolate bar.</p>
                    <br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
        <% include templates/aol.ejs%>
    </body>
</html>