<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
        <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
    </head>
    <body>
        <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/stripeycc.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr >
                    <h2>Stripey Celebration Cake</h2>
                    <hr>
                    <p>Coconut and chocolate is a winning combination when it comes to baking - so if you love both, then try out this delicious cake.</p>
                    <br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
        <% include templates/aol.ejs%>
    </body>
</html>