<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
        <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
    </head>
    <body>
        <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/stripeylc.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr >
                    <h2>Stripey Layer Cake</h2>
                    <hr>
                    <p>Combining two of our classic flavours, this cake is made up of 5 alternating layers of dark chocolate and vanilla sponge. It is covered and filled with a our vanilla buttercream with touches of dark chocolate icing down the sides.Available in stores on selected days or to purchase online or in store now.</p>
                    <br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
        <% include templates/aol.ejs%>
    </body>
</html>