<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
        <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
    </head>
    <body>
        <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/sugarart.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr >
                    <h2>Sugar art</h2>
                    <hr>
                    <p>A Sugar tart is a baked dish consisting of a filling over a pastry base with an open top not covered with pastry. The pastry is usually shortcrust pastry; the filling may be sweet or savoury, though modern tarts are usually fruit-based, sometimes with custard.</p>
                    <br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
        <% include templates/aol.ejs%>
    </body>
</html>