<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
        <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
    </head>
    <body>
        <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/vegancupcake.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr >
                    <h2>Vegan Cup Cake</h2>
                    <hr>
                    <p>No need to give up wicked cakes when you toss the eggs, butter, and milk! Here's a great vegan cupcake to use as a base for whatever flavored icing you want to add to it. They're guaranteed to be light and fluffy and perfect for any occasion.</p>
                    <br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
        <% include templates/aol.ejs%>
    </body>
</html>