<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
        <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
    </head>
    <body>
        <% include templates/nav.ejs%>
        <div class="jumbotron" style="background:url(../images/cake.jpg) cover">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/vegancc.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr >
                    <h2>Vegan Celebration Cake</h2>
                    <hr>
                    <p>A chocolate sponge, coloured naturally with beetroot and a limited amount of natural red food colouring, topped off with a delicious cream cheese icing. We can personalise the cake with themed decorations, or you can leave it up to our chefs to use a mixture of pretty sugar flowers and sprinkles. We finish the cake off with a message piped in beautiful script and a dusting of glitter! Available to order in store or online now.</p>
                    <br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
        <% include templates/aol.ejs%>
    </body>
</html>