<html>
    <head>
        <title><%= title%></title>
        <% include templates/link.ejs%>
        <link rel="stylesheet" type="text/css" href="stylesheets/product.css">
    </head>
    <body>
        <% include templates/nav.ejs%>
        <div class="jumbotron">


            <div class="menu">


            </div>




        </div>
        <% include templates/menu.ejs%>
        <div class="container">
            <div class="row newspaper">
                <div class="col-md-6">
                    <img src="images/victorialc.jpeg">

                </div>
                <br>
                <div class="col-md-6">
                    <hr >
                    <h2>Victoria Layer Cake</h2>
                    <hr>
                    <p>Victoria Sponge Cake is a two-layer sponge-like airy cake that is filled with a layer of jam and whipped cream.Available at stores on selected days, or to order online now. </p>
                    <br><br><br>
                    <button style="font-size: 20px;" class="add">Add to cart</button>
                </div>

            </div>

        </div>
        <br>
        <% include templates/jlink.ejs%>
        <% include templates/aol.ejs%>
    </body>
</html>