<div class="menu1">
    <li style="font-size: 150%;">OVERVIEW<hr></li>
    <div class="menu2"><li><a href="/products">Our Products</a></li><hr></div>

    <div class="menu2"><li><a href="#">Gallery</a></li><hr></div>


    <div class="menu2"><li><a href="#">About Us</a></li><hr></div>
    <div class="menu2"><li><a href="#">Contacts</a></li><hr></div>

</div>
